nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

main {
    align-self: center;
}