{% extends "base.html" %}

{% block head_content %}

<title> fplat - Player Statistics </title>

<style>
#player_info {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}
#player_info td, #player_info th {
 border: 1px solid #ddd;
 padding: 8px;
}
#player_info tr:nth-child(even){background-color: #f2f2f2;}
#player_info tr:hover {background-color: #ddd;}
#player_info th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #242424;
 color: white;
}
</style>

{% endblock %}

{% block body_content %}

<table id ="player_info">
<tr>
 <th>ID</th>
 <th>Web Name</th>
 <th>Player ID</th>
 <th>Full Name</th>
 <th>Team</th>
 <th>News</th>
 <th>Position</th>
 <th>Current Price</th>
 <th>Value Season</th>
 <th>Cost Change from Start</th>
 <th>Percentage selected by</th>
 <th>Transfers In</th>
 <th>Transfers Out</th>
 <th>Total Points</th>
 <th>Points Per Game</th>
 <th>Minutes</th>
 <th>Goals Scored</th>
 <th>Assists</th>
 <th>Clean Sheets</th>
 <th>Goals Conceded</th>
 <th>Own Goals</th>
 <th>Penalties Saved</th>
 <th>Penalties Missed</th>
 <th>Yellow Cards</th>
 <th>Red Cards</th>
 <th>Saves</th>
 <th>Bonus Points</th>
 <th>Bonus Point System Score</th>
 <th>Influence</th>
 <th>Creativity</th>
 <th>Threat</th>
 <th>ICT Index</th>
 <th>EA Index</th>
</tr>

{% for player in player_data.elements %}
<tr>
  <td>{{player.id}}</td>
  <td>{{player.web_name}}</td>
  <td>{{player.code}}</td>
  <td>{{player.first_name}}</td>
  <td>{{player.team_code}}</td>
  <td>{{player.news}}</td>
  <td>{{player.element_type}}</td>
  <td>{{player.now_cost}}</td>
  <td>{{player.value_season}}</td>
  <td>{{player.cost_change_start}}</td>
  <td>{{player.selected_by_percent}}</td>
  <td>{{player.transfers_in}}</td>
  <td>{{player.transfers_out}}</td>
  <td>{{player.total_points}}</td>
  <td>{{player.points_per_game}}</td>
  <td>{{player.minutes}}</td>
  <td>{{player.goals_scored}}</td>
  <td>{{player.assists}}</td>
  <td>{{player.clean_sheets}}</td>
  <td>{{player.goals_conceded}}</td>
  <td>{{player.own_goals}}</td>
  <td>{{player.penalties_saved}}</td>
  <td>{{player.penalties_missed}}</td>
  <td>{{player.yellow_cards}}</td>
  <td>{{player.red_cards}}</td>
  <td>{{player.saves}}</td>
  <td>{{player.bonus}}</td>
  <td>{{player.bps}}</td>
  <td>{{player.influence}}</td>
  <td>{{player.creativity}}</td>
  <td>{{player.threat}}</td>
  <td>{{player.ict_index}}</td>
  <td>{{player.ea_index}}</td>
</tr>
{% endfor %}

{% endblock %}
