{% extends "base.html" %}

{% block head_content %}

<title> fplat - Player Statistics </title>

<style>
#player_info {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}
#player_info td, #player_info th {
 border: 1px solid #ddd;
 padding: 8px;
}
#player_info tr:nth-child(even){background-color: #f2f2f2;}
#player_info tr:hover {background-color: #ddd;}
#player_info th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #242424;
 color: white;
}
</style>

{% endblock %}

{% block body_content %}

<div class="container">

  <div class="table-responsive table table-bordered">

    <table class="table" id="playerStatsTable">
      <tr>
       <th>Player</th>
       <th>Team</th>
       <th>News</th>
       <th>Position</th>
       <th>Start Price</th>
       <th>Current Price</th>
       <th>Change</th>
       <th>Effective Value</th>
       <th>TSB</th>
       <th>Total Transfers In</th>
       <th>Total Transfers Out</th>
       <th>Total Points</th>
       <th>Average PPG</th>
       <th>Minutes</th>
       <th>Goals Scored</th>
       <th>Assists</th>
       <th>Clean Sheets</th>
       <th>Goals Conceded</th>
       <th>Own Goals</th>
       <th>Penalties Saved</th>
       <th>Penalties Missed</th>
       <th>Yellow Cards</th>
       <th>Red Cards</th>
       <th>Saves</th>
       <th>Total Bonus Points</th>
      </tr>

      {% for player in player_data.elements %}
      {% if player.alert == "red" %}
      <tr class="table-danger">
      {% elif player.alert == "yellow" %}
      <tr class="table-warning">
      {% else %}
      <tr>
      {% endif %}
        <td><a href="{% url 'player' player.id %}">{{player.web_name}}</a></td>
        <td>{{player.team_code}}</td>
        <td>{{player.news}}</td>
        <td>{{player.element_type}}</td>
        <td>£{{player.start_price}}</td>
        <td>£{{player.now_cost}}</td>
        <td>{{player.cost_change_start}}</td>
        <td>{{player.value_season}}</td>
        <td>{{player.selected_by_percent}}%</td>
        <td>{{player.transfers_in}}</td>
        <td>{{player.transfers_out}}</td>
        <td>{{player.total_points}}</td>
        <td>{{player.points_per_game}}</td>
        <td>{{player.minutes}}</td>
        <td>{{player.goals_scored}}</td>
        <td>{{player.assists}}</td>
        <td>{{player.clean_sheets}}</td>
        <td>{{player.goals_conceded}}</td>
        <td>{{player.own_goals}}</td>
        <td>{{player.penalties_saved}}</td>
        <td>{{player.penalties_missed}}</td>
        <td>{{player.yellow_cards}}</td>
        <td>{{player.red_cards}}</td>
        <td>{{player.saves}}</td>
        <td>{{player.bonus}}</td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>

{% endblock %}

{% block footer_content %}

{% endblock %}
