{% extends "base.html" %}

{% block head_content %}

<!-- the below excerpt safely parses the django json content into a javascript variable.
This method should not be vulnerable to injection attacks. !-->

<!--{{ player_data|json_script:"player_data" }}
<script>
  const my_data = JSON.parse(document.getElementById('player_data').textContent);
</script>!-->

{% load sass_tags %}
<link href="{% sass_src 'fsv.scss' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body_content %}

<div class="container-fluid">
  <div class="pb-4 mt-4 mb-2 border-bottom text-center">
    <h2>{{player_data.element.second_name}}</h2>
  </div>
  <div class="row">
    <div class="container-item col-sm-4">
      <img src="data:image/png;base64,{{ player_plot }}" alt="">
    </div>

    <div class="container-item col-sm-4">
      <img src="data:image/png;base64,{{ player_plot }}" alt="">
    </div>

    <div class="container-item col-sm-4">
      <img src="data:image/png;base64,{{ player_plot }}" alt="">
    </div>
  </div>

  <div class="row">
    <div class="container-item col-sm-4 container-item-bottom">
      <p> Last 5 Fixtures </p>
      <div class="table-responsive table table-bordered">
        <table class="table" id="playerStatsTable">
          <tr>
            <th>Fixture</th>
            <th>Date</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Assists</th>
          </tr>
          {% for history in player_data.history reversed %}
          {% if forloop.counter <= 5 %}
          <tr>
            <td>{{player_data.element.team}} vs {{history.opponent_team}}</td>
            <td>{{history.kickoff_time}}</td>
            <td>{{history.minutes}}</td>
            <td>{{history.total_points}}</td>
            <td>{{history.goals_scored}}</td>
            <td>{{history.assists}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="container-item col-sm-4 container-item-bottom">
      <p> Best 5 Performances </p>
      <div class="table-responsive table table-bordered">
        <table class="table" id="playerStatsTable">
          <tr>
            <th>Fixture</th>
            <th>Date</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Assists</th>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="container-item col-sm-4 container-item-bottom">
      <p> Something 5 Something </p>
      <div class="table-responsive table table-bordered">
        <table class="table" id="playerStatsTable">
          <tr>
            <th>Fixture</th>
            <th>Date</th>
            <th>Minutes</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Assists</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer_content %}

{% endblock %}
